.form-module {
    padding: 20px;
    width: 50%;
}

.section-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 35px;
}